<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Events
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="switchTimeView()"><ion-icon [name]="filterButton.icon"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item-group>
        <div *ngFor="let dayEvents of events">
          <ion-item-divider>
            <ion-label>{{dayEvents.Key | date:"E - dd.MM.yy":"UTC"}}</ion-label>
          </ion-item-divider>
         
          <ion-card class="ion-activatable" *ngFor="let events of dayEvents.Content">
              <ion-ripple-effect></ion-ripple-effect>
              <ion-card-header>
                <ion-card-title>{{events.Summary}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-label>
                  {{events.Location | multiline}}
                </ion-label>
                <ion-label>
                  {{events.Start | date:"HH:mm":"UTC"}} - {{events.End | date:"HH:mm":"UTC"}}
                </ion-label>
              </ion-card-content>
            </ion-card>
      </div>
      </ion-item-group>
</ion-content>
