<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Events <ion-icon name="calendar"></ion-icon>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="switchTimeView()">
        <ion-icon [name]="filterButton.icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <div *ngFor="let dayEvents of events">
      <ion-item-divider>
        <ion-label color="secondary">{{dayEvents.Key | date:"E - dd.MM.yy":"UTC"}}</ion-label>
      </ion-item-divider>

      <ion-card (click)="openEventDetails(event)" *ngFor="let event of dayEvents.Content" color="light">
        <ion-card-header [style.border-right]="getBorderForText(event.Summary)">
          <ion-item no-padding>
            <ion-card-title>
              {{event.Summary}}
            </ion-card-title>
          </ion-item>
        </ion-card-header>
        <ion-card-content>
          <ion-item-group>
            <ion-item *ngIf='event.Start !== "" && event.End !== ""' no-padding>
              <ion-icon color="tertiary" slot="start" name='time'></ion-icon>
              <ion-label>
                {{event.Start | date:"HH:mm":"UTC"}} - {{event.End | date:"HH:mm":"UTC"}}
              </ion-label>
            </ion-item>
            <ion-item *ngIf='event.Location !== ""' no-padding>
              <ion-icon color="tertiary" slot="start" name='pin'></ion-icon>
              <ion-label>
                {{event.Location | multiline}}
              </ion-label>
            </ion-item>
          </ion-item-group>
        </ion-card-content>

      </ion-card>
    </div>
  </ion-item-group>
</ion-content>