<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <h1>Welcome to the new <br><b>STUV Survival</b></h1>
    </ion-slide>
    <ion-slide>
      <h1>Why a new app?</h1>
    </ion-slide>
    <ion-slide>
      <ion-grid>
      <ion-row>
        <ion-col>
          <h1>Enter your course:</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-searchbar></ion-searchbar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="primary">Let's Go!</ion-button>
        </ion-col>
      </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
