img{
  width: 70%;
  display: block;
  margin: 0px auto;
  padding: 20px 0px 50px;
}
ion-list.external{
  padding-top: 30px;
}

ion-menu-toggle.settings ion-item{
  position: absolute;
  bottom: 0px;
  width: 100%;
}

/* DHBW Theming */
