<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Lectures <ion-icon name="book"></ion-icon>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="switchTimeView()">
        <ion-icon [name]="filterButton.icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="lectures" padding>

  <ion-item-group>

    <ion-virtual-scroll [items]="lectures" [approxItemHeight]="'600px'">
      <div *virtualItem="let dayLectures">
        <ion-item-divider>
          <ion-label>{{dayLectures.Key | date:"E - dd.MM.yy":"UTC"}}</ion-label>
        </ion-item-divider>
        <ion-card *ngFor="let lecture of dayLectures.Content">
          <ion-card-header [style.border-right]="getBorderForText(lecture.Summary)">
            <ion-item no-padding>
              <ion-card-title>
                {{lecture.Summary}}
              </ion-card-title>
            </ion-item>
          </ion-card-header>
          <ion-card-content>
            <ion-item-group>
              <ion-item *ngIf='lecture.Start !== "" && lecture.End !== ""' no-padding>
                <ion-icon size="small" color="tertiary" slot="start" name='time'></ion-icon>
                <ion-label no-padding>
                  {{lecture.Start | date:"HH:mm":"UTC"}} - {{lecture.End | date:"HH:mm":"UTC"}}
                </ion-label>
              </ion-item>
              <ion-item *ngIf='lecture.Location !== "" && lecture.Location !== undefined' no-padding>
                <ion-icon size="small" color="tertiary" slot="start" name='pin'></ion-icon>
                <ion-label no-padding>
                  {{lecture.Location}}
                </ion-label>
              </ion-item>
              <ion-item *ngIf='lecture.Description !== ""' no-padding>
                <ion-icon size="small" color="tertiary" slot="start" name='person'></ion-icon>
                <ion-label no-padding>
                  {{lecture.Description}}
                </ion-label>
              </ion-item>
            </ion-item-group>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-virtual-scroll>
  </ion-item-group>

</ion-content>