<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Lectures
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="switchTimeView()"><ion-icon [name]="filterButton.icon"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item-group>
    <div *ngFor="let dayLectures of lectures">
    <ion-item-divider>
      <ion-label>{{dayLectures.Key | date:"E - dd.MM.yy":"UTC"}}</ion-label>
    </ion-item-divider>
    <ion-card *ngFor="let lecture of dayLectures.Content">
    <ion-card-header [style.border-right]="getBorderForText(lecture.Summary)">
      <ion-card-title>{{lecture.Summary}}</ion-card-title>
      <ion-card-subtitle>{{lecture.Description}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-label>
        {{lecture.Start | date:"HH:mm":"UTC"}} - {{lecture.End | date:"HH:mm":"UTC"}}
      </ion-label>
      <ion-label>
        {{lecture.Location}} &nbsp;
      </ion-label>
    </ion-card-content>
    </ion-card>
  </div>
  </ion-item-group>

</ion-content>
