<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
              <img src="../../assets/SurvivalAppLogo.png" style="background: transparent !important; width: 30%;" />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h1>Welcome to the new <br><b>STUV Survival</b></h1>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <h1>Why a new app?</h1>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h1>Enter your course:</h1>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-searchbar (ionInput)="onInput($event)" ></ion-searchbar>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-infinite-scroll>
              <ion-infinite-scroll-content>
                <ion-list>
                  <ion-radio-group>
                    <ion-item (click)="onSelect(course)" *ngFor="let course of filteredCourses">
                      <ion-label>{{ course }}</ion-label>
                      <ion-radio></ion-radio>
                    </ion-item>
                  </ion-radio-group>
                </ion-list>
              </ion-infinite-scroll-content>
            </ion-infinite-scroll>
            </ion-col>
          </ion-row>

        <ion-row>
          <ion-col>
            <ion-button expand="full" (click)="onSubmit()" [disabled]="selectedClass === undefined"color="medium">Take that course!</ion-button>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
